        /* src/index.css */
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        /* Grundlegende Stile für die App */
        body {
          margin: 0;
          font-family: 'Inter', sans-serif; /* Standard-Schriftart */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        code {
          font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
            monospace;
        }
        